---
layout: default
title: timharvey.net
---
  <div class="post">
    {% assign most_recent = site.posts.first %}
    <h2>
      <a href="{{ most_recent.url}}"><b>{{ most_recent.title }}</b></a>
    </h2>
    <div class="entry">
      {{ most_recent.content }}
    </div>
  </div>
  <table>
    <tbody>
      <tr>
        <th>
          <br />
          <br />
          <h1><b>all posts</b></h1>
        </th>
      </tr>
      {% assign year = 0 %}
      {% assign month = 0 %}
      {% for post in site.posts %}
        {% capture new_year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% capture new_month %}{{ post.date | date: '%B' }}{% endcapture %}
        {% if year != new_year %}
          <tr class="year">
            <th>
              <br />
              <br />
              {{ post.date | date: '%Y' }}
            </th>
          </tr>
        {% endif %}
        {% if month != new_month %}
          <tr class="archive">
            <th>{{ post.date | date: '%B' }}
            </th>
            <td></td>
          </tr>
        {% endif %}
        <tr class="archive">
          <th>{{ post.date | date: '%d' }}</th>
          <td><a href="{{ post.url }}">{{ post.title }}</a></td>
        <tr>
          {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
          {% capture month %}{{ post.date | date: '%B' }}{% endcapture %}
      {% endfor %}
    </tbody>
  </table>

  <h2>Contact me</h1>
  <ul class="contacts">
    <li><span>LinkedIn</span> &raquo; <a href="http://linkedin.com/in/timharvey/">http://linkedin.com/in/timharvey</a></li>
    <li><span>Twitter</span> &raquo; <a href="http://twitter.com/tihm/">@tihm</a></li>
    <li><span>GitHub</span> &raquo; <a href="http://github.com/tjh">http://github.com/tjh</a></li>
  </ul>
