---
layout: default
title: legacy archives
---

    <div class="legacy-banner">
      <strong>Legacy Posts!</strong></br>
      I've flagged these posts as they are either, 1) No longer relevant/useful,
      or 2) Do not reflect my current thinking. Rather than delete these
      outdated posts, I've left them up so that search engine links remain
      intact and as a history of previous perspectives.
    </div>

<table>
	<tbody>
		<tr><th><h1><b>legacy posts</b></h1></th></tr>
		{% for post in site.posts %}
        {% if post.legacy != true %}
          {% continue %}
        {% endif %}
	  		{% assign currentyear = post.date | date: "%Y" %}
	  		{% if currentyear != year %}
				<tr class="year"><th><br><br>{{ currentyear }}</th></tr>
	    		{% assign year = currentyear %}
				{% assign month = 0 %}
	  		{% endif %}
			{% assign currentmonth = post.date | date: "%B" %}
	  		{% if currentmonth != month %}
				<tr class="archive"><th>{{ currentmonth }}</th></tr>
	    		{% assign month = currentmonth %}
	  		{% endif %}
			<tr class="archive"><th>{{post.date | date:"%-d"}}</th><td><a href="{{ post.url | prepend: site.github.url }}">{{ post.title }}</a></td></tr>
    {% endfor %}
	</tbody>
</table>
<h1><strong><a href="{{ site.github.url }}/archive">current posts »</a></strong></h1>
