---
layout: default
---
  <div class="post legacy" id="post-<?php the_ID(); ?>">
    <h2>
      <b>{{ page.title }}</b>
    </h2>
    <div class="banner">
      <strong>Legacy Post!</strong></br>
      I've flagged this post as it is either, 1) No longer relevant/useful,
      or 2) Doesn't reflect my current thinking. Rather than delete these
      outdated posts, I've left them up so that search engine links remain
      intact and as a history of previous perspectives.
    </div>

    <div class="entry">
      {{ page.content | markdownify }}
    </div>

    <h1><a href="{{ site.github.url }}/archive">all posts »</a></h1>
  </div>
